* {
  font-family: 'Work Sans', sans-serif;
  user-select: none;
}

/* Move the app window by dragging anywhere in the app */
body {
  -webkit-app-region: drag;
}

/* Except buttons and inputs */
button,
input {
  -webkit-app-region: no-drag;
}

/* Use the default cursor for everything */
*:active,
*:hover {
  cursor: default;
}

/* Except inputs, where we still use the normal text cursor */
input:hover {
  cursor: auto;
}

button:hover * {
  cursor: pointer;
}

#container {
  text-align: center;
  padding-top: 60px;
  min-height: inherit;
}

input[type=number] {
  width: 3em;
  font-size: 0.8em;
}

input[type=number]:focus {
  outline: none;
  border: 2px solid lightgrey;
  box-shadow: none;
}

// input {
//   border: 0;
// }
//
// label {
//   position: relative;
// }
//
// label::before {
//   content: "";
//   position: absolute;
//   transform: translateY(20px);
//   width: 70%;
//   border-bottom: 1px solid lightgrey;
// }

.controls p {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.3em;
}

$button-color: #00e5ff;
$button-contents-color: black;

.controls button {
  margin-top: 20px;
  padding: 0.4rem;
  line-height: 1rem;
  vertical-align: middle;
  font-size: 1.5em;
  background-color: white;
  color: $button-contents-color;
  // border: 1px solid $button-color;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: 150ms ease-in;
}

.controls button.play {
  box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.12);
}

.controls button.stop {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.controls button span {
  vertical-align: -0.4rem;
}

/* Icon animation */
$icon-size: 16px; /* must be even */
$half-icon-size: $icon-size / 2;
$three-quarters-icon-size: $icon-size * 0.75;

.icon-container {
  width: $icon-size;
  height: $icon-size;
  display: inline-flex;
  overflow: hidden;
  margin: 5px;
  align-items: center;
  position: relative;
}

/* Play triangle */
.icon {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: $half-icon-size solid transparent;
  border-right: 0px solid transparent;
  border-left: $three-quarters-icon-size solid $button-contents-color;
  border-bottom: $half-icon-size solid transparent;
}

/* Stop square */
.icon-container::before {
  content: "";
  border-top: $half-icon-size solid $button-contents-color;
  border-right: $half-icon-size solid $button-contents-color;
  border-left: $half-icon-size solid $button-contents-color;
  border-bottom: $half-icon-size solid $button-contents-color;
}

.icon-container.play::before {
  transform: translateX(-$icon-size);
}

.icon.stop {
  transform: translateX($icon-size);
}

.icon,
.icon-container::before {
  transition: 120ms ease;
}
