@import 'search';

$app-background: white;

* {
  font-family: 'Work Sans', sans-serif;
  user-select: none;
}

/* Move the app window by dragging anywhere in the app */
body {
  -webkit-app-region: drag;
  // background: url('https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png');
}

/* Except buttons and inputs */
button,
input {
  -webkit-app-region: no-drag;
}

/* Use the default cursor for everything */
*:active,
*:hover {
  cursor: default;
}

/* Except inputs, where we still use the normal text cursor */
input:hover {
  cursor: auto;
}

#spirit-animal *,
.clickable,
button:hover * {
  cursor: pointer;
}

#container {
  text-align: center;
  padding-top: 60px;
  min-height: inherit;
}

input[type=number] {
  width: 3em;
  font-size: 0.8em;
}

input[type=number]:focus {
  outline: none;
  border: 2px solid lightgrey;
  box-shadow: none;
}

.controls p {
  line-height: 2rem;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.3em;
}

// $button-color: #00e5ff;
$button-color: $app-background;
$button-contents-color: black;
$lowered-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.12);
$lifted-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadow-transition: box-shadow 150ms ease-in;

@mixin lowered-shadow() {
  box-shadow: $lowered-shadow;
}

@mixin lifted-shadow() {
  box-shadow: $lifted-shadow;
}

@mixin shadow-transition() {
  transition: $shadow-transition;
}

.controls button {
  margin-top: 20px;
  padding: 0.4rem;
  line-height: 1rem;
  vertical-align: middle;
  background-color: $button-color;
  color: $button-contents-color;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 1.5em;
  transition: $shadow-transition;
}

.controls button.stopped {
  box-shadow: $lowered-shadow;
}

.controls button.playing {
  box-shadow: $lifted-shadow;
}

.controls button span {
  vertical-align: -0.4rem;
}

/* Icon animation */
$icon-size: 16px; /* must be even */
$half-icon-size: $icon-size / 2;
$three-quarters-icon-size: $icon-size * 0.75;

.icon-container {
  width: $icon-size;
  height: $icon-size;
  display: inline-flex;
  overflow: hidden;
  margin: 5px;
  align-items: center;
  position: relative;
}

/* Play triangle */
.icon {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: $half-icon-size solid transparent;
  border-right: 0px solid transparent;
  border-left: $three-quarters-icon-size solid $button-contents-color;
  border-bottom: $half-icon-size solid transparent;
}

/* Stop square */
.icon-container::before {
  content: "";
  border-top: $half-icon-size solid $button-contents-color;
  border-right: $half-icon-size solid $button-contents-color;
  border-left: $half-icon-size solid $button-contents-color;
  border-bottom: $half-icon-size solid $button-contents-color;
}

.icon-container.stopped::before {
  transform: translateX(-$icon-size);
}

.icon.playing {
  transform: translateX($icon-size);
}

.icon,
.icon-container::before {
  transition: 120ms ease;
}

/* Support for components/look/overlay-description */
$overlay-description-transition-time: 0.2s;
.overlay-description-wrapper {
  position: relative;
  display: inline-block;
}

.overlay-description-wrapper .description {
  /* position over content */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* center text vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  /* hide unless hovered */
  opacity: 0;
  background-color: $app-background;
  transition: opacity $overlay-description-transition-time;
}

.overlay-description-wrapper:hover .description {
  opacity: 0.75;
}
